@import "./../../../vars";

.ui.container {
  &.chat-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    .chat-comments-wrapper {
      flex: 1;
      position: relative;

      .chat-comments-container {
        overflow: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: $gutter;
      }
    }
  }
}
